* {
  margin: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* setting map size in css */
#mapid { 
  height: 500px;
  display: flex;
  justify-content: center;
}